@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerMedium.woff2') format('woff2'),
  url('../fonts/MullerMedium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.woff2') format('woff2'),
  url('../fonts/MullerRegular.woff') format('woff');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBold.woff2') format('woff2'),
  url('../fonts/MullerBold.woff') format('woff');
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerLight.woff2') format('woff2'),
  url('../fonts/MullerLight.woff') format('woff');
  font-display: swap;
  font-weight: 200;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  /* Задает минимальную ширину тела проекта */
  min-width: 320px;
  margin: 0;
  /* Задает стиль фона и шрифта всему проекту */
  background-color: #f1f1f1;
  font-family: 'Muller', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: black;
  line-height: 1;
}

/* Применяет свойста родительского элемента */
button,
input {
  font: inherit;
}

/* Ограничивает размер изображений */
img {
  max-width: 100%;
  height: auto;
}

/* Убирает ненужное оформление текста */
a {
  text-decoration: none;
  color: inherit;
}

a:focus {
  /* outline: 3px solid rgba(204,153,51,0.3); */
}

/* Убирает маркеры для списков */
ul,
ol {
  list-style: none;
}

/* Удаляет стандартные отступы */
h1,
h2,
h3,
p,
ul,
ol,
input {
  padding: 0;
  margin: 0;
}

.header{
  text-align:center;
  margin: 20px auto 20px auto;
  padding: 20px;
  font-size: 50px;
  transition: 200ms ease;
  }

.header:hover{
  color: aquamarine;
}

.body{
  background-color: #008e8c;
}
.youtube{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 20px;
  font-size: 25px;
  transition: 200ms ease;
}

.youtube:hover{
  color: aquamarine;

}
.container{
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1500px;
}

.list_theme{
  display: flex;
  justify-content: center;
  margin: 0 20px 20px 20px;
  padding: 20px;
  font-size: 20px;
  border: 3px solid black;
  border-radius: 30px;
  background-color: black;
  color: #008e8c;
}

.list_theme_item{
transition: 200ms ease;
}

.list_theme_item:not(:last-child){
  margin-right: 50px;
}

.list_theme_item:hover{
  color: aquamarine;
}

.section_title{

}

.name_block{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 300px;
  padding: 0 300px 0 300px;
}

.name_input{
text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

.input_block{
  border-radius: 20px;
  min-height: 35px;
  padding: 15px;
  font-size: 20px;
  background-color: aquamarine;
}
.btn_block{
  display: flex;
  justify-content: center;
  }

.translate_button{
  margin-right: 20px;
  color: #008e8c;
  background-color: black;
  border: 3px solid black;
  border-radius: 20px;
  padding: 15px;
  cursor: pointer;
  font-size: 20px;

}

.translate_button:hover{
  background-color: #008e8c;
  color: black;
}

.translate_button:active{
  background-color: aquamarine;
  color: black;
}

.btn2{
  color: #008e8c;
  background-color: black;
  border: 3px solid black;
  border-radius: 20px;
  padding: 15px;
  cursor: pointer;
  font-size: 20px;
  min-width: 200px;
}

.btn2:hover{
  background-color: #008e8c;
  color: black;
}

.btn2:active{
  background-color: aquamarine;
  color: black;
}

.btn_block2{
  text-align: center;
}

.btn_block_title{
  margin-bottom: 20px;
  font-size: 30px;
}

.btn2:not(:first-child){
  margin-right: 20px;
}
